Repository carhartl/git-wip: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, golangci, prettier, shfmt, yamllint

actionlint:
  tags: lint
  run: actionlint {staged_files}

golangci:
  tags: lint
  run: golangci-lint run ./...

prettier:
  tags: style
  stage_fixed: true
  run: prettier --write {staged_files}

shfmt:
  tags: style
  stage_fixed: true
  run: shfmt -w {staged_files}

yamllint:
  tags: lint
  run: 'yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}
  
    '

Fix problems detected w/ golangci-lint v2
  search_test.go
  tui_test.go
Due: golangci

[] Choose editor to open from env
  tui.go
Due: golangci

Add help item for open in editor
  tui.go
Due: golangci

Attempt to fix signing by updating command
  .goreleaser.yaml
Due: prettier, yamllint

Configure cooldown period for Dependabot
  .github/dependabot.yml
Due: prettier, yamllint

Upgrade to Bubble Tea v2
  go.mod
  go.sum
  main.go
  tui.go
  tui_test.go
Due: golangci

Set up Go version w/ mise
  mise.toml
Due: none

Make separate test for quitting
  tui_test.go
Due: golangci

Change test assertion for clarity
  tui_test.go
Due: golangci

change assertion
  tui_test.go
Due: golangci

some more
  tui_test.go
Due: golangci

without space
  tui_test.go
Due: golangci

Adapt test for updating view
  tui_test.go
Due: golangci

Fix assertion to produce false positive
  tui_test.go
Due: golangci

Migrate from Lefthook to hk for Git hooks
  .lefthook.yaml
  hk.pkl
Due: prettier, yamllint

Set up hk <-> mise integration
  mise.toml
Due: none

Add pre-commit hook for mise config
  hk.pkl
Due: none

Add hooks ensuring whitespace is proper
  hk.pkl
Due: none

Fix CVE-2026-39824
  go.mod
  go.sum
Due: none

Update all dependencies in module
  go.mod
  go.sum
Due: none

Path conditions:
  actionlint: any of: .github/workflows/*.yml
  golangci: any of: *.go
  prettier: any of: *.{md,yaml,yml}
  shfmt: any of: *.{bash,sh}
  yamllint: any of: *.{yaml,yml}
